 <table class="categories mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" align="left">
        <thead>
        <tr> <th ng-click="setCurrentCategory()">Wybierz kategorie: </th> </tr>
        </thead>
        <tbody>
        <tr ng-repeat="category in categories" ng-click="setCurrentCategory(category)">
            <th >{{ category }}</th>
        </tr>
        </tbody>
        </thead>
    </table>

    <div class="mainContainerBills">
        <div ng-click="edit()" ng-show="!editing">
            <button class="mdl-button mdl-button--accent">
                Dodaj
            </button>
        </div>

        <form name="frm" class="form-inline" ng-show="editing">
            <div class="form-group">
                <label class="sr-only">Nazwa rachunku</label>
                <div>
                    <input type="text" class="form-control" placeholder="Nazwa rachunku"
                           ng-model="formSend.title" ng-minlength="2" required
                            />
                </div>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Wartość"
                       ng-model="formSend.value" required/>
            </div>
            <button class="mdl-button mdl-button"
                    type="submit"
                    ng-click="postBill()"
                    ng-disabled="frm.$invalid">
                Dodaj
            </button>

            <span ng-click="edit()" ng-show="editing">
                <button class="mdl-button mdl-button" type="button" >Anuluj
                </button>
            </span>
            <div class="hint" name="err" ng-show="frm.pristine && submitted">Wpisz dane</div>
        </form>

        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" align="center">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Nazwa rachunku</th>
                    <th class="mdl-data-table__cell--non-numeric">Osoba</th>
                    <th class="mdl-data-table__cell--non-numeric">Kwota</th>
                    <th class="mdl-data-table__cell--non-numeric">Data utworzenia</th>
                    <th class="mdl-data-table__cell--non-numeric"> <a class="mdl-navigation__link" ng-click="setCurrentCategory('')"> Kategoria </a> </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in billsList | filter:{category:currentCategory}">
                    <td class="mdl-data-table__cell--non-numeric">{{ item.title }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ item.creator}}</td>
                    <td class="mdl-data-table__cell">{{ item.value }} zł</td>
                    <td class="mdl-data-table__cell">{{ item.created | date: 'dd.MM.yyyy'}}</td>
                    <td class="mdl-data-table__cell--non-numeric" ><a class="mdl-navigation__link" ng-click="setCurrentCategory(item.category)">{{ item.category }}</a></td>
                </tr>
                </tbody>
            </table>
    </div>



</div>
