<div>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" align="center">

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-repeat="category in categories" ng-click="setCurrentCategory(category)">
            {{ category }}
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="setCurrentCategory('')">
            Reset
        </button>

    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" align="center">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Nazwa rachunku</th>
                <th class="mdl-data-table__cell--non-numeric">Osoba</th>
                <th class="mdl-data-table__cell--non-numeric">Kwota</th>
                <th class="mdl-data-table__cell--non-numeric">Data utworzenia</th>
                <th class="mdl-data-table__cell--non-numeric"> <a class="mdl-navigation__link" ng-click="setCurrentCategory('')"> Kategoria </a> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in billsList | filter:{category:currentCategory}">
                <td class="mdl-data-table__cell--non-numeric">{{ item.title }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ item.creator}}</td>
                <td class="mdl-data-table__cell">{{ item.value }} zł</td>
                <td class="mdl-data-table__cell">{{ item.created | date: 'H:mm, dd.MM.yyyy'}}</td>
                <td class="mdl-data-table__cell--non-numeric" ><a class="mdl-navigation__link" ng-click="setCurrentCategory(item.category)">{{ item.category }}</a></td>
            </tr>

            </tbody>
        </table>

    <form name="frm" class="form-inline">
        <div class="form-group">

            <label class="sr-only">Nazwa rachunku</label>
            <div>
                <input type="text"
                       class="form-control"
                       placeholder="Nazwa rachunku"
                       ng-model="formSend.title"
                       ng-minlength="2"
                       required
                        />

            </div>

        </div>

        <div class="form-group">
            <input type="number"
                   class="form-control"
                   placeholder="Wartość"
                   ng-model="formSend.value"
                   required
                    />
        </div>

        <button class="mdl-button mdl-button--accent"
                type="submit"
                ng-click="postBill()"
                ng-disabled="frm.$invalid">
            dodaj
        </button>
        <div class="hint" name="err" ng-show="frm.$pristine">Wpisz dane</div>


    </form>

</div>
